body {
  font-family: "Amiko", sans-serif;
}

h1 {
  font-size: 35px;
  color: white;
  position: relative;
  top: -20px;
  left: 15px;
}

h2 {
  color: white;
  font-size: 12px;
  line-height: 2px;
  position: relative;
  top: -20px;
  left: 15px;
}

p {
  color: white;
}
